name: TestNet

on:
  push:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/README.md'
env:
  CCACHE_TEMPDIR: /tmp/.ccache-temp
  IMG: lthn/itw3
  TAG: testnet
  IMG_TAG: lthn/itw3:testnet

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: docker/setup-qemu-action@v2
    - uses: docker/setup-buildx-action@v2
      with:
          install: true
    - uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - uses: docker/build-push-action@v3
      with:
        push: true
        platforms: linux/amd64,linux/arm64
        tags: ${{ env.IMG_TAG }},ghcr.io/${{ env.IMG_TAG }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - uses: peter-evans/dockerhub-description@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: ${{ env.IMG }}:${{ env.TAG}}

